########################################
# Universal linguist rules (forced)
########################################

* linguist-detectable=false
**/*.java linguist-detectable=true

**/ml/** linguist-vendored
**/model/** linguist-vendored
**/models/** linguist-vendored
**/data/** linguist-vendored
**/dataset/** linguist-vendored
**/notebooks/** linguist-vendored
**/chatAI/** linguist-vendored
**/CreditScorePrediction-main/** linguist-vendored

**/frontend/** linguist-vendored
**/ui/** linguist-vendored
**/web/** linguist-vendored
**/client/** linguist-vendored

**/android/** linguist-vendored
**/ios/** linguist-vendored
**/linux/** linguist-vendored
**/macos/** linguist-vendored
**/windows/** linguist-vendored
**/assets/** linguist-vendored

**/node_modules/** linguist-vendored
**/vendor/** linguist-vendored
**/build/** linguist-vendored
**/dist/** linguist-vendored
**/target/** linguist-vendored
**/out/** linguist-vendored

**/*.ipynb linguist-generated
**/*.json linguist-generated
**/*.lock linguist-generated
**/*.jar linguist-generated
**/*.class linguist-generated
